build/
cmake-build-*/
data/*
!data/.gitkeep
*.o
*.a
*.out
*.d
*.obj
compile_commands.json
.cache/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.so
*.dylib
*.dll
*.so.*

*.a
*.lib
*.exe
*.out
*.tmp
*.log

install_manifest.txt
compile_commands.json

# IDE files
.idea
